.experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experiences > p {
  font-size: 40px;
}

.experience-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.exp-date {
  font-size: 18px;
  font-weight: bold;
}

.exp-name {
  font-size: 30px;
  font-weight: bolder;
}

.exp-desc {
  max-width: 500px;
}