.sidebar {
  height: 100%;
  width: 60px;
}

/* left sidebar */
.left {
  position: fixed;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
}

.link {
  text-decoration: none;
  color: white;
}

.linkedin-logo {
  height: 30px;
}

.twitter-logo {
  height: 30px;
}

.github-logo {
  height: 30px;
}

.resume-logo {
  height: 45px;
  margin-left: -9px;
}

/* right sidebar */
.right {
  position: fixed;
  top: 0;
  right: 0;
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {
  .left {
    background-color: #0d1523;
    height: 50px;
    padding: 2px 0 0 0;
    width: 100%;
    top: auto;
    bottom: 0;
  }

  .links {
    width: 100%;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: space-around;
  }
}
